@model SS.ExpenseApp.Web.Models.IndexVM

@{
    ViewBag.Title = "Home Page";
    string Role = ViewBag.Role;
}

<div class="jumbotron">

    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <div class="form-group form-group-sm">
                <div class="col-md-8">
                    Start date : 
                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-md-8">
                    End date : 
                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                </div>
            </div>
            <div class="form-group-sm">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Apply filter" class="btn btn-default" /> <span> </span>
                </div>
            </div>
        </div>
    }
</div>

<h2>My Expenses</h2>

<p>
    @if (Role == "Employee")
    {
        @Html.ActionLink("Add New", "Create")}
</p>
<table class="table table-striped">
    <thead>
        <tr>
            @if (Role != "Employee")
            {
                <th>
                    Employee name
                </th>}
            <th>
                Receipt No.
            </th>
            <th>
                Receipt date
            </th>
            <th>
                Description
            </th>
            <th>
                Amount
            </th>
            <th>
                Reimbursement Amount
            </th>
            <th>
                Approval Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expense in Model.Expenses)
            {
            <tr>
                @if (Role != "Employee")
                {
                    <td>
                        @Html.DisplayFor(modelItem => expense.Employee.Name)
                    </td>}
                <td>
                    @Html.DisplayFor(modelItem => expense.ReceiptNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => expense.ReceiptDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => expense.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => expense.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => expense.ReimbursementAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => expense.ApprovalStatus)
                </td>
                <td>
                    @Html.ActionLink("Update", "Details", new { id = expense.Id }) |
                </td>
            </tr>
        }
    </tbody>
</table>
