@model IEnumerable<SS.ExpenseApp.BusinessEntities.Expense>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<h2>My Expenses</h2>

<p>
    @Html.ActionLink("Add New", "Create")
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReceiptNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiptDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReimbursementAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expense in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => expense.ReceiptNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => expense.ReceiptDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => expense.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => expense.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => expense.ReimbursementAmount)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = expense.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = expense.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = expense.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
